{
  "arrowParens": "avoid",
  "singleQuote": true,
  "printWidth": 90,
  "semi": false,
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteIndentScriptAndStyle": true,
  "trailingComma": "none"
}
